@import './globals.scss';

.link__card {
  height: 300px;
  background-color: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: $animation-dur;
  border: none;
  filter: blur(1px);
  h5,
  h2 {
  color: white;
  }
  &:hover {
    background-position: top;
    transition-duration: $animation-dur;
    filter: none;
  }
}

a:link {
  text-decoration: none;
}

.card {
  background-color: none;
}
