.champ__card {
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
  border: none;
  display: flex;
  justify-content: center;
}

.champ__body {
  padding: 50px 0;
  width: 80%;
  h2,
  h5,
  p {
    color: white;
  }
  p {
    width: 100%;
  }
}
