@import './globals.scss';

.home {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.card-home {
  padding: 20px;
  width: 70%;
  height: 60vh;
  background-color:  rgba(194, 194, 194, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h5,
  h2,
  h3,
  p {
    color: white;
    font-size: 1.3rem;
  }
  ul {
  list-style: none;
  }
  .link {
    color: white;
  }
  .card__link {
    @include text
  }
  .card__link:hover{
    @include textHover
  }

}

