@import './globals.scss';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

ul {
  font-size: 50px;
  li {
    transition-duration: $animation-dur;
    color: #0548fb;
  }
  li:hover {
    color: #fd14f9;
    text-shadow: 1px 1px 1px black;
    transition-duration: $animation-dur;
  }
}