@import './globals.scss';

.navbar {
  padding: 0 5%;
  height: 5vh;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul {
  font-size: 30px;
  font-weight: bold;
  font-family: $font-title;
  li {
    transition-duration: $animation-dur;
    color: #0548fb;
  }
  li:hover {
    color: #fd14f9;
    text-shadow: 1px 1px 1px black;
    transition-duration: $animation-dur;
  }
}