$reactColor: #A8D145;

* {
  margin: 0;
  padding: 0;
}

.app {
  color: white;
  background-color: $reactColor;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  h1 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
  }
}

.card {
  width: 300px;
  min-width: 300px;
}